# Dependencies
/node_modules
/.pnpm
/pnpm-lock.yaml

# Local development
.env
.wrangler/
/coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
